@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-baloo: "Baloo 2", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --color-black-theme: #fff;
  --color-surface: #f3f4f6;
}

@layer base {
  body {
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-white;
  }
}

.dark {
  --color-background: #1a1a18;
  --color-text: #fff;
  --color-surface: #111827;
}